{% extends 'base.html' %}

{% block content %}
  
  <h1 class="card-title">We do your assignments mail us or your upload question</h1>
  <br>
  <h2 style="color: blueviolet;">Do payment after seeing your work!</h2>

  <p class="card-text"></p><h2><img  src="static/icons/paypal(3).png"> &ensp; ACCEPTED </h2>

  <p class="card-text">
    <br>
    <h2> <img src="static/icons/gmail.png" > &emsp;<a href="#">  wedoassingments446@gmail.com</h2></a>
  </p>
  <p class="card-text">
    <br>
    
    <h2> <img src="static/icons/instagram(1).png" alt="">  &emsp;   <a href="#">   wedoassingments__</h2> </a>
  </p>
{% endblock %}